body {
    background-color: #EEC1C9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor: url('../cursor.cur'), auto;
   }
   .wrapper {
    background-color: #E8A2AF ;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
   }
   .header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
   }
   .logo p,
   .contacts p {
    margin: 0;
   }
   .logo b {
    font-size: 44px;
    color: #E8A2AF;
    display: block;
   }
   .logo img {
    margin: 0 35px;
   }
   .contacts a {
    display: block;
    margin-bottom: 8px;
   }
   .contacts i {
    display: block;
    text-align: right;
   }
   .main {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 30px;
   }
   .main-picture {
    width: 100%;
    vertical-align: bottom;
   }
   .main-text {
    max-width: 600px;
   }
   .menu {
    width: 300px;
   }
   .menu ul {
    list-style: none;
    padding-left: 20px;
   }
   .menu li {
    margin-bottom: 15px;
   }
   .footer {
    padding: 15px 15px;
    font-size: 14px;
    color: #E8A2AF;
    background-color: #39930d;
    margin: -15px;
   }